@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto px-4;
}

body {
  @apply bg-[#050505] text-[#f5f5f5];
}

/*bg-stars*/

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}


.stars {
  animation: animStar 50s linear infinite;
}


.stars2 {
  animation: animStar 100s linear infinite;
}


.stars3 {
  animation: animStar 150s linear infinite;
}

/*cursor*/
.circle {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-5 h-5 bg-orange-500 text-white rounded-full duration-100;

  &:hover {
    @apply cursor-pointer;
  }

  &::before,
  &::after {
    @apply content-[""] block absolute w-full h-full bg-orange-500 rounded-full -z-[1];
    animation: grow 1s ease-in-out infinite;
  }

  &::after {
    @apply bg-orange-500;
  }

  &::before {
    @apply bg-orange-500;
    animation-delay: -0.7s;
  }
}

@keyframes grow {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  100% {
    transform: scale(1.8, 1.8);
    opacity: 0;
  }
}